@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font-sanchez: 'Sanchez', serif;
    --font-miniver: 'Miniver', cursive;
    --font-poppins: 'Poppins', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
  }
  
  body {
    font-family: var(--font-poppins); /* Set a default font if needed */
  }


@layer utilities {
    .wrapper {
      @apply max-w-[1500px] lg:mx-auto p-2 md:px-10 xl:px-0 w-full;
    }
}